<!DOCTYPE html>
<html>
<head>
  <title>Test Duration Calculator</title>
  <%= stylesheet_link_tag    '//d2uaiq63sgqwfs.cloudfront.net/7.1.0/oui-canvas.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="background--faint">

  <div class="grid" style="max-width:1400px; margin:auto; padding-top: 100px">
    <%= yield %>
  </div>

</body>
</html>
